#contact.content.active{
    display:grid;
    gap:2rem;
    margin: 2rem 0;
    /* grid-template-columns: repeat(1, 1fr); */

}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.contact-info h2{
    font-size: 2.5rem;

}

.contact-info h2 span{
    color: var(--green);
}

.contact-info p{
    font-size: 1.3rem;
    text-align: justify;
}

.contact-media{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

}

.media{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.media span{
    background-color: var(--disabled);
    padding: 0.5rem;
    border-radius: 5px;

}

.media i{
    font-size: 2.2rem;
    color: var(--green);
}

.contact-value p{
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 600;

}

.contact-value a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    transition: all linear 0.3s;
}

.contact-value a:hover{
    color: rgba(155, 213, 229,);
    text-decoration: underline;
}

form{
    margin-top: 2rem;
    background: var(--disabled);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 100%;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    border: none;
}

legend{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
}

legend span{
    color: var(--green);

}

label{
    font-size: 1.5rem;
    cursor: pointer;
}

.field{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

.field div{
    display: grid;
    gap: 1rem;
}

input, textarea{
    background: var(--disabled);
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0.7rem;
    border-radius: 5px;
    color: var(--white);
}

input::placeholder, textarea::placeholder{
    color: var(--white);
    opacity: 0.6;
}

#send-msg{
    margin: 1rem auto;
}

.btn{
    background: var(--green);
    color: #000;
    font-size: 1.4rem;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover{
    background: transparent;
    color: var(--green);
    border: 2px solid var(--green);
    transform: translateY(-2px);
}


@media screen and (width>=768px) {
    #contact.content.active{
        grid-template-columns: repeat(1, 1fr);
        align-items: start;

    }
    
}

@media screen and (width>=1024px) {
    .contact-media{
        grid-template-columns: repeat(3, 1fr);
    }

    .field{
        grid-template-columns: repeat(2,1fr);
    }

    .field div:last-child{
        grid-column: span 2;
    }
        
}
    
